<br>
<br>
<div class="container">
  <div class="row">
      <div class="span5 offset1">
        <h2>Align - </h2>
        <p>Performance Alignment is a fundamental ingredient to driving a consistent approach to help companies focus on what really counts.</p>
        <p>Our experience with multiple companies has shown us the need for alignment between strategic intent, role accountabilities and performance management, all underpinned by a risk lens that gives clarity to those in the organisation. We believe getting this right is a critical enabler to delivering business outcomes and increasing shareholder value.</p>
      </div>

      <div class="span5">
        <img src="/assets/align-pencil.jpg" alt="" align="right">
      </div>
    </div><!--/row-->

    <br><br><br>

    <div class="row">
      <div class="span5 offset1">
        <img src="/assets/focus-pencil.jpg" alt="" align="right">
      </div>

      <div class="span5">
        <h2>Focus - </h2>
        <p>Focus everyone’s efforts on creating an environment where employees are able to contribute towards company improvement. Employer's most often judge performance based on the employee's contribution to organizational goals and priorities, and use the performance review meeting to suggest how the employee can improve.</p>
        <p>Use the performance feedback to understand what is important to the company and to identify areas where the employee can improve. This allows employees to remain focused on what needs to be done, and create a culture of high achievers.</p>
      </div>
    </div><!--/row-->

    <br><br><br>

    <div class="row">
      <div class="span5 offset1">
        <h2>Excel - </h2>
        <p>When the conversation is driven by the employee and centers around maximizing their contribution to the organization, excelling in their role and engaging with the company at new depths, managers stop fearing the review and start creating superstars!</p>
        <p>The value proposition is now that of quality, not quantity and investment in talent. Performance reviews are fast becoming something employees and managers look for.</p>
      </div>

      <div class="span5">
        <img src="/assets/excel-pencil.jpg" alt="" align="right">
      </div>
    </div><!--/row-->

    <br><br><br>
</div>
