<div class="extra">
  <div class="extra-inner">
    <div class="container">
      <div class="row">
        <div class="span2">
          <ul>
            <li><%= link_to 'Home', root_path %></li>
            <li><%= link_to 'Features', static_features_path %></li>
            <li><%= link_to 'Pricing', static_pricing_path %></li>
            <li><%= link_to 'Support', root_path %></li>
          </ul>
        </div> <!-- /span4 -->

        <div class="span2">
          <h4>Follow us on</h4>
          <div class="marketing">
            <ul>
              <li><a href="http://www.facebook.com/OnTargetMy"><img class="bs-icon" src="/assets/socials/facebook.png"></a></li>
              <li><a href="https://twitter.com/OnTargetMy"><img class="bs-icon" src="/assets/socials/twitter.png"></a></li>
              <li><a href="javascript:;"><img class="bs-icon" src="/assets/socials/google-plus.png"></a></li>
            </ul>
          </div><!--/marketing-->
        </div> <!-- /span4 -->

        <div class="span8">
        </div> <!-- /span4 -->
      </div> <!-- /row -->
    </div> <!-- /container -->
  </div> <!-- /extra-inner -->
</div> <!-- /extra -->
